# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\cp1404\practicals\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
